@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

:root {
    --primary-color: #ff8c42;
    --text-color: #333;
    --bg-color: #f9f9fb;
    --card-bg: #ffffff;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    background: var(--card-bg);
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

h1 {
    color: var(--primary-color);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

h2 {
    border-left: 5px solid var(--primary-color);
    padding-left: 15px;
    margin-top: 30px;
}


a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

a:hover {
    text-decoration: underline;
    opacity: 0.8;
}


img {
    display: flex;
    margin: auto;
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    display: block;
}

figure {
    margin: 20px 0;
    padding: 10px;
    background: #fffaf5;
    border-radius: 12px;
    text-align: center;
}

figcaption {
    font-size: 0.9rem;
    color: #666;
    margin-top: 8px;
    font-style: italic;
}


ul, ol {
    background: #f1f1f1;
    padding: 20px 40px;
    border-radius: 12px;
}

li {
    margin-bottom: 10px;
}


footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.8rem;
    color: #888;
}